.popup { 
    background-color: white;
    border: 1px solid black;
    position:absolute;
    width: 40vw;
    height: 60vh;
    bottom: 25%;
    left: 30%;
    cursor: pointer;

}

.close { 
    width: 5%;  
}

.content_in { 
    display: flex;
    flex-direction: column;
}


.disable { 

    display: none;
}