 .content_wallet {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 100%;
     width: 100%;
     background-color: rgb(221, 71, 255);
     border: 5px solid orange;
 }
 
 .icon_wallet {
     height: 30%;
     width: 80%;
     border: 1px solid black;
     overflow-y: hidden;
     margin-top: 2vh;
 }
 
 .arrows {
     display: flex;
     justify-content: space-evenly;
     width: 100%;
     height: 3vh;
     margin-top: 2vh;
 }
 
 .arrow {
     background-color: tan;
     width: 15%;
     height: 100%;
     border-radius: 5px;
 }
 
 .arrow>button {
     width: 100%;
     height: 100%;
 }